<div>
	<h1>{{message}}</h1>
	
			<!-- add subcategories to this category -->	
			<table class="table">
			<h3><strong>Sub Categories</strong><h3>
				<thead>
					<tr>
						<th>Category ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>Sub Categories ID</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						
						<td></td>
						<td><input class="form-control" ng-model="subCategory.name" name="name"></td>
						<td><input class="form-control" ng-model="subCategory.description" name="description"></td>
						<td></td> <!-- REMOVE THE ADD BUTTON BELOW AND POSSIBLY THE DELETE -->
						<td><button class="btn btn-primary" ng-click="addSubCategory()"> Add </button></td>						
					</tr>
					<tr ng-repeat="subCategory in subCategoryList">
						<td> <input class="form-control" ng-model="subCategory.categories_id" name="categories_id" {{subCategory.categories_id}} ></td>
						<td> <input class="form-control" ng-model="subCategory.name" name="name" {{subCategory.name}} > </td>  
						<td> <input class="form-control" ng-model="subCategory.description" name="description" {{subCategory.description}} ></td>
						<td> <input class="form-control" ng-model="subCategory.sub_categories_id" name="categories_id" {{subCategory.sub_categories_id}} > </td>
						<td><button class="btn btn-danger" ng-click="remove(subCategory.categories_id)">Delete</button></td>
						<td><button class="btn btn-info" ng-click="update(subCategory)">Update</button></td>	
					
					</tr>	
				</tbody>
			</table>
			
						<!-- add links to this sub category -->	
			
			<table class="table">
			<h4><strong>Add Links to the Sub Category above</strong><h4>
				<thead>
					<tr>
						<th>Category ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>URL</th>
						<th>Link ID</th>
						<th>Sub Category ID</th>
					</tr>
				</thead>
				<tbody>
					<tr> <!-- ng-repeat="links in linksList" -->
						<td><p><strong> Add links</strong></p></td>
						<td><input class="form-control" ng-model="links.name" name="name"></td>
						<td><input class="form-control" ng-model="links.description" name="description"></td>
						<td><input class="form-control" ng-model="links.url" name="url"></td>
						<td></td>
						<td></td>
						<td><button class="btn btn-primary" ng-click="addLink()"> Add Link</button></td>						
					</tr>
					{{linksList}}
					<tr ng-repeat="links in linksList">
					{{linksList}}
						<td> <input class="form-control" ng-model="links.categories_id" name="categories_id" {{links.categories_id}} ></td>
						<td> <input class="form-control" ng-model="links.name" name="name" {{links.name}} > </td>  
						<td> <input class="form-control" ng-model="links.description" name="description" {{links.description}} ></td>
						<td> <input class="form-control" ng-model="links.links_id" name="links_id" {{links.links_id}} > </td> 
						<td> <input class="form-control" ng-model="links.sub_categories_id" name="categories_id" {{links.sub_categories_id}} > </td>
						<td><button class="btn btn-danger" ng-click="remove(links.categories_id)">Delete</button></td>
						<td><button class="btn btn-info" ng-click="update(links)">Update</button></td>	
					
					</tr>	
					
				</tbody>
			</table>
	
</div>