@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
styling for fixed navigation bar
*/

.navigation {
	width: 100%;
	top: 0;
	position: fixed;
	background-color: red;
}

.nav {
	float: right;
}

li {
	float: left;
	margin: 5px;
	padding-right: 40px;	
	list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 50px
}




/*
use the css below to run global tests
*/
/*
 {
	color: red;
} 
*/