<div>
	<h1>{{message}}</h1>
	
	<div width="50">
	<tbody>
				
					<tr>
						<td><input class="form-control" ng-model="user.email" name="email" placeholder="Email"></td>
						<br>
						<td><input class="form-control" ng-model="user.fullName" name="fullName" placeholder="Full Name"></td>
						<br>
						<td><input class="form-control" ng-model="user.username" name="username" placeholder="Username"></td>
						<br>
						<td><input class="form-control" ng-model="user.password" name="password" placeholder="Password"></td>
						<br>
						<td><button class="btn btn-primary" ng-click="signUp()"> Sign Up </button></td>
					</tr>					
	</tbody>
	</div>
</div>
