<div>
	<h1>{{message}}</h1>
	
	
	<tbody>
				
					<tr>
						<td><input class="form-control" ng-model="register.email" name="email" placeholder="Email"></td>
						<br>
						<td><input class="form-control" ng-model="register.password" name="password" placeholder="Password"></td>
						<br>
						<td><input class="form-control" ng-model="register.username" name="username" placeholder="Username"></td>
						<br>
						<td><button class="btn btn-primary" ng-click="add()"> Sign Up </button></td>
					</tr>					
	</tbody>
	
</div>
