<div>
	<h1>{{message}}</h1>
	<table class="table">
		<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				
					<tr>
						<td></td>
						<td><input class="form-control" ng-model="categories.name" name="name"></td>
						<td><input class="form-control" ng-model="categories.description" name="description"></td>
						<td><button class="btn btn-primary" ng-click="add()"> Add </button></td>						
					</tr>					
					<tr ng-repeat="categories in categorieslist"> 
						<!-- link to a specific category </td> -->
						<td>
							<a href="#category/{{categories.categories_id}}" class="btn btn-default navbar-btn" ng-click="specific(categories)">
								{{categories.categories_id}}
							</a>
						</td> 
						
						<td> <input class="form-control" ng-model="categories.name" name="name" {{categories.name}} > </a> </td>  
						<td> <input class="form-control" ng-model="categories.description" name="description" {{categories.description}} ></td>
						<td><button class="btn btn-danger" ng-click="remove(categories.categories_id)">Delete</button></td>
						<td><button class="btn btn-info" ng-click="update(categories)">Update</button></td>
					</tr>
				</tbody>
			</table>
	
</div>
