<div>
	<h1>{{message}}</h1>
	<table class="table">
		<!-- hide elements -->
		<thead ng-hide="hideInfo">
			<tr>
				<th>Link</th>
				<th>Name</th>
				<th>Description</th>
				<th>Action</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<!-- show elements -->
		<thead ng-show="hideInfo">
			<tr>
				<th></th>
				<th>Name</th>
				<th>Description</th>
				<th></th>
				<th>Action</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		
				<tbody>
				
					<tr>
						<td></td>
						<td><input class="form-control" ng-model="categories.name" name="name" placeholder="Write a name"></td>
						<td><input class="form-control" ng-model="categories.description" name="description" placeholder="Write a description"></td>
						<td ng-show="hideInfo"></td>
						<td><button class="btn btn-primary" ng-click="add()"> Add </button></td>						
					</tr>					
					<tr ng-repeat="categories in categorieslist"> 
						

						<!-- the link below is not necessary, which means the code in the categoriesController is not needed as the categoryController handles this 
						<td>
							<a href="#category/{{categories.categories_id}}" class="btn btn-default navbar-btn" ng-click="specific(categories)">
								{{categories.categories_id}}
							</a>
						</td> 
						-->
						
						<!-- hide elements -->
						<!-- link to a specific category </td> -->
						<td ng-hide="hideInfo">
							<a href="#categories/{{categories.categories_id}}">
								Got to {{categories.name}}
							</a>
						</td>
						<td ng-hide="hideInfo"> {{categories.name}} </td>  
						<td ng-hide="hideInfo"> {{categories.description}} </td>

						<!-- show elements -->
						<td ng-show="hideInfo"></td>
						<td ng-show="hideInfo"> <input class="form-control" ng-model="categories.name" name="name" {{categories.name}} > </a> </td>  
						<td ng-show="hideInfo"> <input class="form-control" ng-model="categories.description" name="description" {{categories.description}} ></td>
						<td ng-show="hideInfo"></td>
						<td ng-show="hideInfo"><button class="btn btn-danger" ng-click="remove(categories.categories_id)">Delete</button></td>
						<td ng-show="hideInfo"><button class="btn btn-info" ng-click="update(categories)">Update</button></td>
						<td><button class="btn btn-warning" ng-model="hideInfo" ng-click="edit(hideInfo)">Edit Category</button></td>
					</tr>
				</tbody>
			</table>
	
</div>
