<div>
	<h1>{{message}}</h1>
	
	<table class="table">
		<h4><strong>Main Links</strong><h4>
			<!-- hide elements -->
			<thead ng-hide="hideInfo">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>URL</th>
				</tr>
			</thead>
			<!-- show elements -->
			<thead ng-show="hideInfo">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>URL</th>
					<th>Click-able URL</th>
				</tr>
			</thead>
			<tbody>				
				<tr ng-repeat="links in linksList" >
			
					<!-- hide elements -->
					<td ng-hide="hideInfo"> {{links.name}} </td>
					<td ng-hide="hideInfo"> {{links.description}} </td>
					<td ng-hide="hideInfo"> <a href="{{links.url}}" ng-hide="hideInfo">{{links.url}} </a> </td>
		
					<!-- show elements -->
					<td ng-show="hideInfo"> <input class="form-control" ng-model="links.name" name="name" {{links.name}} > </td>  
					<td ng-show="hideInfo"> <input class="form-control" ng-model="links.description" name="description" {{links.description}} ></td>
					<td ng-show="hideInfo"> <input class="form-control" ng-model="links.url" name="url" {{links.url}} > </td>
					<td ng-show="hideInfo"> <a href="{{links.url}}" class="btn btn-success link-btn">Click this to go {{links.url}} </a></td>	
					<td ng-show="hideInfo"><button class="btn btn-danger" ng-click="removeLink(links)">Delete</button></td>
					<td ng-show="hideInfo"><button class="btn btn-info" ng-click="updateLink(links)">Update</button></td>
						
					<td ng-hide="hideInfo"><button class="btn btn-warning" ng-model="hideInfo" ng-click="edit(hideInfo)">Edit Link</button></td>
					
				</tr>	
			</tbody>
	</table>
	
</div>
