<div>
	<h1>{{message}}</h1>
	
	<table class="table">
			<h4><strong>Links Details</strong><h4>
				<!-- hide elements -->
				<thead ng-hide="hideInfo">
					<tr>
						<th>Category ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>URL</th>
						<th>Link ID</th>
						<th>Sub Category ID</th>
					</tr>
				</thead>
				<!-- show elements -->
				<thead ng-show="hideInfo">
					<tr>
						<th>Category ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>URL</th>
						<th>Click-able URL</th>
						<th>Link ID</th>
						<th>Sub Category ID</th>
					</tr>
				</thead>
				<tbody>
					<tr> <!-- ng-repeat="links in linksList" -->
						<td><p><strong> Add links</strong></p></td>
						<td><input class="form-control" ng-model="links.name" name="name" placeholder="Write a name for your links"></td>
						<td><input class="form-control" ng-model="links.description" name="description" placeholder="Write a name for description links"></td>
						<td><input class="form-control" ng-model="links.url" name="url" placeholder="Write a URL"></td>
						<td></td>
						<td></td>
						<td ng-show="hideInfo"></td>
						<td><button class="btn btn-primary" ng-click="addLink(subCategory)"> Add Link</button></td>						
					
					</tr>
				
					<tr ng-repeat="links in linksList" >
			
						<!-- hide elements -->
						<td ng-hide="hideInfo"> {{links.categories_id}} </td>
						<td ng-hide="hideInfo"> {{links.name}} </td>
						<td ng-hide="hideInfo"> {{links.description}} </td>
						<td ng-hide="hideInfo"> <a href="{{links.url}}" ng-hide="hideInfo">{{links.url}} </a> </td>
						<!-- <td ng-hide="hideInfo"> <a href="{{links.url}}" class="btn btn-success navbar-btn">Click this to go {{links.links_id}} </a></td> -->
						<td ng-hide="hideInfo"> {{links.links_id}} </td>
						<td ng-hide="hideInfo"> {{links.sub_categories_id}} </td>

						
						<!-- show elements -->
						<td ng-show="hideInfo"> {{links.categories_id}}</td>
						<td ng-show="hideInfo"> <input class="form-control" ng-model="links.name" name="name" {{links.name}} > </td>  
						<td ng-show="hideInfo"> <input class="form-control" ng-model="links.description" name="description" {{links.description}} ></td>
						<td ng-show="hideInfo"> <input class="form-control" ng-model="links.url" name="url" {{links.url}} > </td>
						<td ng-show="hideInfo"> <a href="{{links.url}}" class="btn btn-success link-btn">Click this to go {{links.url}} </a></td>	
						<td ng-show="hideInfo"> {{links.links_id}} </td> 
						<td ng-show="hideInfo"> {{links.sub_categories_id}} </td>
						<td ng-show="hideInfo"><button class="btn btn-danger" ng-click="removeLink(links)">Delete</button></td>
						<td ng-show="hideInfo"><button class="btn btn-info" ng-click="updateLink(links)">Update</button></td>
						
						<!-- <td><button class="btn btn-warning" ng-model="hideInfo" ng-click="editLink(hideInfo)">Edit Link</button></td> -->
					
					</tr>	
				
					
				</tbody>
			</table>
	
</div>
