<div>
<!-- CHANGE THE NAME OF THIS PAGE TO CATEGORYDETAILS. THIS WILL ALSO NEED CHANGING IN CLIENT.JS -->	
	<h1>{{message}}</h1>
	<table class="table">
		<!-- hide elements -->
			<thead ng-hide="hideInfo">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
				
		<!-- show elements -->
			<thead ng-show="hideInfo">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
								
				<tr ng-repeat="category in categoryDetails">
					
					<td ng-hide="hideInfo"> {{category.categories_id}} </td>
					<td ng-hide="hideInfo"> {{category.name}} </td>  
					<td ng-hide="hideInfo"> {{category.description}} </td>
					
					<td ng-show="hideInfo"> {{category.categories_id}} </td>
					<td ng-show="hideInfo"> <input class="form-control" ng-model="category.name" name="name" {{category.name}} > </td>  
					<td ng-show="hideInfo"> <input class="form-control" ng-model="category.description" name="description" {{category.description}} ></td>
					<td ng-show="hideInfo"><button class="btn btn-danger" ng-click="removeCategory(category.categories_id)">Delete</button></td>
					<td ng-show="hideInfo"><button class="btn btn-info" ng-click="updateCategory(category)">Update</button></td>
					<td><button class="btn btn-warning" ng-model="hideInfo" ng-click="edit(hideInfo)"> Edit </button></td>
												
				</tr>					
			</tbody>
	</table>
			
	<!-- add subcategories to this category -->	
	<table class="table">
		<h3><strong>Add Sub Categories to the Category Above</strong><h3>
		
		<!-- hide elements -->
		<thead ng-hide="hideInfo">
			<tr>
				<th>Category ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Sub Category ID</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
				
		<!-- show elements -->
		<thead ng-show="hideInfo">
			<tr>
				<th>Category ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Sub Category ID</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td></td>
				<td><input class="form-control" ng-model="subCategory.name" name="name"></td>
				<td><input class="form-control" ng-model="subCategory.description" name="description"></td>
				<td></td>
				<td><button class="btn btn-primary" ng-click="addSubCategory()"> Add </button></td>						
			</tr>
			<tr ng-repeat="subCategory in subCategoryList">
				<td ng-hide="hideInfo"> {{subCategory.categories_id}} </td>
				<td ng-hide="hideInfo"> {{subCategory.name}} </td>  
				<td ng-hide="hideInfo"> {{subCategory.description}} </td>
				<td ng-hide="hideInfo"> {{subCategory.sub_categories_id}} </td>
				<!-- <td ng-hide="hideInfo"><button class="btn btn-danger" ng-click="remove(subCategory.sub_categories_id)">Delete</button></td>
				<td ng-hide="hideInfo"><button class="btn btn-info" ng-click="update(subCategory)">Update</button></td> -->
				<td ng-hide="hideInfo"> 
					<a href="#sub_categories/{{subCategory.sub_categories_id}}" class="btn btn-success navbar-btn">
						Go to Sub Categories {{subCategory.sub_categories_id}}
					</a>
				</td>

				<td ng-show="hideInfo"> {{subCategory.categories_id}} </td>
				<td ng-show="hideInfo"> <input class="form-control" ng-model="subCategory.name" name="name" {{subCategory.name}} > </td>  
				<td ng-show="hideInfo"> <input class="form-control" ng-model="subCategory.description" name="description" {{subCategory.description}} ></td>
				<td ng-show="hideInfo"> {{subCategory.sub_categories_id}} </td>
				<td ng-show="hideInfo"><button class="btn btn-danger" ng-click="remove(subCategory.sub_categories_id)">Delete</button></td>
				<td ng-show="hideInfo"><button class="btn btn-info" ng-click="updateSubCategory(subCategory)">Update</button></td>
				<td ng-show="hideInfo">
					<a href="#sub_categories/{{subCategory.sub_categories_id}}" class="btn btn-success navbar-btn">
						Go to {{subCategory.name}}
					</a>
				</td>				
			</tr>	
		</tbody>
	</table>
			
			
			
			<!-- add links to this category -->	
			
			<table class="table">
			<h4><strong>Add Links to the Category above</strong><h4>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><p><strong> Add links</strong></p></td>
						<td><input class="form-control" ng-model="categories.name" name="name"></td>
						<td><input class="form-control" ng-model="categories.description" name="description"></td>
						<td><button class="btn btn-primary" ng-click="addLink()"> Add </button></td>						
					</tr>
					
				</tbody>
			</table>
			

	
</div>
